<!DOCTYPE html>
<html>
    <head>
        
        <script src="{{ asset('/fe_frameworks/foundation/javascripts/foundation.min.js') }}"></script>
        {% javascripts '@QuantUtilitiesMongoRouterBundle/Resources/public/js/*' filter='yui_js' output='js/compiled/mongorouter.js'%}
                <script type="text/javascript" src="{{ asset_url }}"></script>
        {%endjavascripts%}
        
        
        <link rel="stylesheet" href="{{asset('/fe_frameworks/foundation/stylesheets/foundation.min.css')}}">
        {% stylesheets '@QuantUtilitiesMongoRouterBundle/Resources/public/css/*.css' filter='yui_css' output='css/compiled/mongorouter.css'%}
                <link rel="stylesheet" href="{{ asset_url }}" />
        {%endstylesheets%}
        <title>Dynamic Router - {%block title%}{%endblock%}</title>
    </head>
    <body>
        <div id="container" class="row">
            <div class="row" id="box">
                <div class="two columns">

                        {%block menu%}
                        {%endblock%}
                </div>
                <div class="ten columns">
                        {%block body %}{%endblock%}
                    </div>
                </div>

            </div>
            <script src"{{asset('fe_frameworks/foundation/javascripts/jquery.foundation.alerts.js')}}"></script>
        </body>
    </html>